<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/init :: head" />
<body>

<div class="ui thin sidebar visible menu left vertical inverted">
    <a href="#" class="tiny header item">
        <img class="ui mini image spaced middle aligned " th:src="@{/images/logo.png}"/>
        Portal
    </a>
    <a class="item">
        Users
    </a>
    <a class="item">
        Roles
    </a>
    <a class="item">
        Permissions
    </a>
    <a class="item">
        Resources
    </a>
</div>

<div class="ui fixed inverted menu">
    <div class="header item" id="menu">
        Menu
        <i class="content icon"></i>
    </div>
</div>

</body>

<footer th:replace="fragments/init :: footer" />
</html>